@model PaginatedList<AbaraWebApplication.Models.User>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            회원리스트
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">회원관리</a></li>
            <li class="active">회원리스트</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-default">
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model[0].UserId)</td>
                            <td>@Html.DisplayNameFor(model => model[0].ProfileImage)</td>
                            <td>@Html.DisplayNameFor(model => model[0].UserName)</td>
                            <td>@Html.DisplayNameFor(model => model[0].Email)</td>
                            <td>@Html.DisplayNameFor(model => model[0].Comment)</td>
                            <td>@Html.DisplayNameFor(model => model[0].SignUpAt)</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                                @if (string.IsNullOrEmpty(item.ProfileImage))
                                {
                                    <td><img style="width:50px;" src="/image/user/_default_profile.png"></td>
                                }
                                else
                                {
                                    <td><img style="width:50px; height:50px; object-fit:cover; border-radius: 50% !important;" src="/image/user-resized-0184/@Html.DisplayFor(modelItem => item.ProfileImage)"></td>
                                }
                                <td><a href="/admin/user/details/@Html.DisplayFor(modelItem => item.UserId)">@Html.DisplayFor(modelItem => item.UserName)</a></td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>@Html.DisplayFor(modelItem => item.Comment)</td>
                                <td>@Html.DisplayFor(modelItem => item.SignUpAt)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="row dataTables_paginate paging_simple_numbers text-center">
                <ul class="pagination" style="margin: 25px;">
                    @if (Model.PageLinkLeft == -1)
                    {
                        <li class="paginate_button previous disabled">
                            <a class="page-link">Previous</a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button previous">
                            <a class="page-link" asp-route-page="@Model.PageLinkLeft">Previous</a>
                        </li>
                    }
                    @for (int i = Model.PageLinkStart; i <= Model.PageLinkEnd; i++)
                    {
                        var active = (Model.PageIndex == i) ? "active" : "";

                        <li class="paginate_button @active">
                            <a class="page-link" asp-route-page="@i">@i</a>
                        </li>
                    }
                    @if (Model.PageLinkRight == -1)
                    {
                        <li class="paginate_button next disabled">
                            <a class="page-link">Next</a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button next">
                            <a class="page-link" asp-route-page="@Model.PageLinkRight">Next</a>
                        </li>
                    }
                </ul>
            </div>

            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>